@use './colors.scss';
@use './fonts.scss';

:root {
  font-size: 16px;
  font-family: $font-family-main;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: $blue-700;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

ul, menu {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }
}
