// Backgrounds 
$blue-900: #0F101B;
$blue-700: #141925;
$blue-500: #222939;
$grey-500: #535C78;
$grey-300: #8D96B0;
$orange: #F37441;

// Text
$text-blue: $blue-500;
$text-grey: #959EB9;
$text-white: #FFFFFF;