// Backgrounds
$blue-900: #0f101b;
$blue-700: #141925;
$blue-500: #222939;
$grey-500: #535c78;
$grey-400: #959eb9;
$grey-300: #8d96b0;
$orange: #f37441;
$white: #ffffff;

// Text
$text-blue: $blue-500;
$text-grey: $grey-400;
$text-white: $white;
