// Backgrounds 
$blue-900: #0F101B;
$blue-700: #141925;
$blue-500: #222939;
$grey-500: #535C78;
$grey-400: #959EB9;
$grey-300: #8D96B0;
$orange: #F37441;
$white: #FFFFFF;

// Text
$text-blue: $blue-500;
$text-grey: $grey-400;
$text-white: $white;